form {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgb(165, 160, 160);
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(241, 241, 200);
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }